.portal,
.rain {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;   
}

.drop {
    width: 50px;
    border-color: transparent;
    border-right-color: rgba(255, 255, 255, 0.7);
    border-right-width: 20px;
    position: absolute;
    bottom: 100%;
    transform-origin: 0% 50%;
    /* animation-name: rain; */
    /* transition-duration: 1.2s;
    transition-timing-function: linear;
    animation-iteration-count: infinite; */
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: rain 2s linear infinite;
    opacity: 0.5;
  }

  @keyframes rain {
    0% {
      transform: rotate(90deg) translateX(0) scale(1.2);
    } 
    100% {
      transform: rotate(90deg) translateX(calc(100vh + 20px));
    }
  }