/* Hamburger */
.hamburger {
    position: relative;
    cursor: pointer;
}

/* Close */
.close {
    position: relative;
    cursor: pointer;
}

/* ScrollToTopButton */
.scroll_to_top {
    position: fixed !important;
    bottom: 5%;
    right: 5%;
    z-index: 1000;
}