/* Hamburger */
.hamburger {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* Close */
.close {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .hamburger {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 1024px) {
    /* Hamburger */
    .hamburger {
        display: none;
    }
}