.container {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
@media screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media screen and (min-width: 1024px) {
    .container {
        width: 973px;
    }
}
@media screen and (min-width: 1280px) {
    .container {
        width: 1216px;
    }
}
@media  screen and (min-width: 1536px) {
    .container {
        width: 1382px;
    }
}
@media screen and (min-width: 1920px) {
    .container {
        width: 1728px;
    }
}