.contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 40px 50px;
}


/* MyPortfolio */
.my_profile_image_container {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-radius: 99999px;
    border: 10px solid #555;
    overflow: hidden;
}

.my_profile_txt_container {
    width: 50%;
}
.my_profile_txt_container h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
.my_profile_txt_container p {
    line-height: 1.2;
}


/* Skills */
.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.skills_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills_headline {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 35px;
}

.skills_contents {
    margin-bottom: 50px;
}

.skills_content {
    display: flex;
}

.skills_image_container {
    width: 80px;
    margin-right: 20px;
}

.skills_txt_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.title {
    font-size: 20px;
    line-height: 1.2;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
}

.text {
    padding-top: 8px;
}

.title,
.text {
    padding-left: 5px;
}

.my_profile,
.skills {
    padding: 40px 0;
}

@media screen and (min-width: 768px) {
    .my_profile_image_container {
        max-width: 350px;
    }

    .skills_image_container {
        width: 80px;
        margin-right: 20px;
    }


    .title {
        font-size: 24px;
        /* padding-bottom: 10px; */
    }

    .text {
        /* padding-top: 6px; */
    }

    .my_profile,
    .skills {
        padding: 60px 0;
    }
}

@media screen and (min-width: 1024px) {
    .my_profile,
    .skills {
        padding: 100px 0;
    }
}

@media screen and (min-width: 1280px) {
    .my_profile_image_container {
        max-width: 400px;
    }
}

@media screen and (min-width: 1536px) {
    .my_profile_image_container {
        max-width: 450px;
    }
}