.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 35px;
}

@media screen and (min-width: 768px) {
    .contents {
        flex-direction: row;
        justify-content: start;
        row-gap: 45px;
        column-gap: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .contents {
        column-gap: 36.5px;
        row-gap: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .contents {
        row-gap: 55px;
        column-gap: 38px;
    }
}

@media screen and (min-width: 1536px) {
    .contents {
        row-gap: 75px;
        column-gap: 61px;
    }
}

@media screen and (min-width: 1920px) {
    .contents {
        row-gap: 95px;
        column-gap: 84px;
    }
}