.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

@media screen and (min-width: 1024px) {
    .profile_info {
        width: 60%;
    }
}

@media screen and (min-width: 1280px) {
    .profile_info {
        width: 52%;
    }
}