.skills_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.skills_list_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skill_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 !important;
}

.skill {
    display: flex;
    align-items: center;
    position: relative;
}

.image {
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .image {
        margin-right: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .skills_list {
        gap: 30px;
    }

    .skills_list_container h3 {
        text-align: left;
        margin-bottom: 15px;
    }

    .skill_list {
        flex-direction: row;
        justify-content: start;
        gap: 15px;
    }

    .skill {
        position: relative;
        width: 55px !important;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        overflow: hidden;
    }

    .active:hover {
        width: 175px !important;    
    }

    .image {
        position: relative;
        margin-right: 0;
    }

    .txt {
        position: absolute;
        left: 55px;
        width: 100%;
        transition: all 0.5;
    }
}