.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 8500;
    background: radial-gradient(circle,#090e37 7%,#1b073d 51%,#1e0928 84%,#150624 100%);
}

.image_container {
    position: relative;
    width: 40%;
}