.description {
    margin-bottom: 35px;
}

.link_text {
    display: flex;
    gap: 8px;
}

.link {
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 20px;
}
.link:hover {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .description {
        margin-bottom: 45px;
    }
}

@media screen and (min-width: 1024px) {
    .description {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1280px) {
    .description {
        margin-bottom: 80px;
    }
}