.thumbnail {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin: 30px 0;
}

@media screen and (min-width: 768px) {
    .thumbnail {
        margin: 45px 0;
    }
}

@media screen and (min-width: 1024px) {
    .thumbnail {
        margin: 60px 0;
    }
}

@media screen and (min-width: 1280px) {
    .thumbnail {
        margin: 80px 0;
    }
}