.canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* Rain canvas */
.rain_container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3000 !important;
    overflow: hidden;
}

.rain_canvas {
    position: relative;
}