.contact_container {
    background-color: #29183a;
}

.form_custom_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    background-color: #281D41;
    margin: 0;
}

.end_form {
    height: 450px;
}

/* 送信完了後のメッセージ */
.txt_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.txt_container h2 {
    opacity: 0.9;
}
.txt_container p {
    opacity: 0.75;
}

.contact_txt,
.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* StepBar */
.step_progress_bar_container,
.wrapper,
.progress {
    width: 100%;
}

.step_progress_bar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.wrapper,
.current_step_container {
    padding: 0 !important;
}

.current_step,
.progress_label {
    color: #eee !important;
    opacity: 0.95;
}

.current_step {
    font-size: 18px !important;
    font-weight: 600 !important;
    text-align: center;
}

.progress_label {
    display: none;
}


/* Form */
.form_container {
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    width: 100%;
}

/* input & label */
.input_container {
    width: 100%;
}
.input_container label {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    height: 22px;
    color: #bbb;
    transition: none;
    transform: none;
    margin-bottom: 12px;
}

.title {
    font-weight: 500;
    color: #eee;
}

.indispensable {
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    color: #eee;
    background-color: #FF2E3A;
    border-radius: 6px;
    padding: 4px 6px;
}


/* input & textarea */
input[type='text']#input-name,
input[type='email']#input-email,
#input-textarea {
    color: #eee;
    opacity: 0.8;
    padding: 0;
}

.content_input input,
.content_input textarea {
    position: relative;
    border-radius: 4px;
    background-color: '';
    transition: all 0.2s;
    box-sizing: border-box !important;
}
.content_input div {
    padding: 0;
}
.content_input p {
    margin: 0;
}
/* default */
.content_input.content_default input,
.content_input.content_default textarea {
    border: 1px solid rgba(190, 190, 190, 0.5) !important;
}
.content_input.content_default input:hover,
.content_input.content_default textarea:hover {
    border: 1px solid rgba(190, 190, 190, 8) !important;
}
.content_input.content_default input:focus,
.content_input.content_default textarea:focus {
    border: 2px solid rgba(55, 120, 240, 1) !important;
}
/* error */
.content_input.content_error input,
.content_input.content_error textarea,
.content_input.content_error input:hover,
.content_input.content_error textarea:hover {
    border: 1px solid #FF2E3A;
}
.content_input.content_error input:focus,
.content_input.content_error textarea:focus {
    border: 2px solid #FF2E3A;
}
/* end */
.content_input.content_end input,
.content_input.content_end textarea {
    background-color: #441E56;
}
.content_input.content_end input,
.content_input.content_end textarea,
.content_input.content_end input:hover,
.content_input.content_end textarea:hover {
    border: 1px solid #441E56 !important;
}

.content_input input {
    height: 35px;
    padding: 4px 10px !important;
}

.content_input textarea {
    height: 200px !important;
    padding: 8px 10px !important;
}

.error {
    position: absolute;
    color: #FF2E3A;
    margin-top: 6px;
}


/* Button */
.btn_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

.btn_container button {
    width: 170px;
    height: 45px;
}

@media screen and (min-width: 768px) {
    .end_form {
        height: 550px;
    }


    /* StepBar */
    .step_progress_bar_container {
        margin-top: 20px;
    }

    .current_step {
        display: none;
    }

    .progress_label {
        display: block;
        margin-top: 10px;
    }

    /* Form */
    .form_container {
        margin-top: 60px;
    }

    /* Button */
    .btn_container {
        flex-direction: row;
        gap: 35px;
    }

    .btn_container button {
        width: 185px;
    }
}

@media screen and (min-width: 1024px) {
    .contact_txt,
    .form_container {
        width: 50%;
    }

    /* StepBar */
    .form_container {
        flex-direction: row;
        margin-top: 0;
    }


    /* Button */
    .btn_container {
        gap: 30px;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1280px) {
    /* StepBar */
    .step_progress {
        margin-top: 20px;
    }

    .wrapper {
        width: 600px;
    }

    .progress_label {
        margin-top: 5px;
    }
}