/* Portal */
.portal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
}

.canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Figcaption */
.figcaption {
  align-items: center;
}


/* Rain */
.rain_container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  overflow: hidden;
}

.rain_canvas {
  position: relative;
}


/* Works */
.works {
  position: relative;
  margin-top: 800px;
  overflow: hidden;
  z-index: 100;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 35px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.card_txt_container {
  display: flex;
  align-items: center;
}

.move {
  justify-content: center;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  /* Works */
  .contents {
    flex-direction: row;
    row-gap: 45px;
    column-gap: 30px;
  }

  .card {
    width: 718px;
    height: 270px;
    flex-direction: row;
  }
  .card h3 {
    text-align: left;
  }

  .card_txt_container {
    margin-left: 15px;
  }

  .move {
    margin-top: 35px;
  }
}

@media screen and (min-width: 1024px) {
  /* Works */
  .contents {
    justify-content: start;
    column-gap: 36.5px;
    row-gap: 50px;
  }

  .card {
      width: 300px;
      flex-direction: column;
  }
  .card h3 {
    text-align: center;
  }

  .card_txt_container {
    margin-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  /* Works */
  .contents {
    row-gap: 55px;
    column-gap: 38px;
  }

  .card {
      width: 380px;
  }
}

@media screen and (min-width: 1536px) {
  /* Works */
  .contents {
    row-gap: 75px;
    column-gap: 61px;
  }

  .card { 
      width: 420px;
  }
}

@media screen and (min-width: 1920px) {
  /* Works */
  .contents {
    row-gap: 95px;
    column-gap: 84px;
  }

  .card {
      width: 520px;
  }
}
