.custom_container {
    margin-top: 65px;
}

/* Cards */
.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 83px;
}

.card {
    width: 350px;
}

.card_media {
    /* height: 262.5px; */
}

.txt_container {
    height: 180px;
}

.background {
    background-color: rgb(26, 32, 39);
}

@media screen and (min-width: 768px) {
    .custom_container {
        margin-top: 70px;
    }

    .card {
        width: 300px;
    }

    .card_media {
        height: 225px;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        width: 350px;
    }

    .card_media {
        height: 262.5px;
    }
}