.contact_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* StepBar */
.step_progress_bar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.wrapper,
.current_step_container {
    padding: 0 !important;
}

.current_step {
    font-size: 18px !important;
    font-weight: 600 !important;
    text-align: center;
}

.progress_label {
    display: none;
}

.current_step,
.progress_label {
    opacity: 0.9;
}

.step_progress_bar_container,
.wrapper,
.progress {
    width: 100%;
}

@media screen and (min-width: 768px) {
    /* StepBar */
    .step_progress_bar_container {
        margin-top: 20px;
    }

    .current_step {
        display: none;
    }

    .progress_label {
        display: block;
        margin-top: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .contact_txt {
        width: 50%;
    }

    /* StepBar */
    .form_container {
        flex-direction: row;
        margin-top: 0;
    }
}

@media screen and (min-width: 1280px) {
    /* StepBar */
    .step_progress {
        margin-top: 20px;
    }

    .wrapper {
        width: 600px;
    }

    .progress_label {
        margin-top: 5px;
    }
}